<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Komunitas</h2>
                <p class="lead">Silahkan bergabung dengan kami untuk berdiskusi mengenai teknologi java terbaru, android, dan permasalah anda mengenai java secara GRATIS. Adapun untuk bergabung silahkan mengirim email ke jeni-diknas-subscribe@yahoogroups.com. Bilamana untuk melakukan posting silahkan kirim thread anda ke jeni-diknas@yahoogroups.com</p>
            </div>
        </div><!-- /.container -->
    </div><!-- /.row -->
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-enter"></i>
                    <h2>JUG Indonesia</h2>
                    <h3>JUG Indonesia adalah tempat ideal untuk siapapun yang ingin berwirausaha, bekerja diluar negeri, atau menjadi "pakar" Java dengan cepat.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-wrench"></i>
                    <h2>Code Android</h2>
                    <h3>Code Android adalah komunitas untuk para peminta teknologi android.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-cloud"></i>
                    <h2>OpenStack</h2>
                    <h3>OpenStack Indonesia adalah sebuah komunitas untuk para peminat teknologi cloud computing di Indonesia.OpenStack indonesia ini dibangun dengan tujuan untuk saling berbagi informasi tentang platform cloud khususnya OpenStack.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!-- /.container --> 
        <div class="container">
            <!-- <div class="pull-right">
                <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
            </div>  -->
        </div><!-- /.container -->
</div><!--/.row-->      