<div class="row">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Kontributor</h2>
            <p class="lead">Bagi pihak luar yang mempunyai ide dan berminat untuk memberikan kontribusi mengenai kurikulum JENI, dapat mengirimkan email ke contributor@jeni.or.id / support@jeni.or.id
            Adapun format kontributor meliputi : Dokumen Kurikulum , Tutorial dari Kurikulum yang dikontribusikan, Nama dan Biografi Author / Kontributor.</p>
            <p class="lead">
            Team JENI.or.id akan melakukan evaluasi terhadap dokumen maupun kurikulum yang dikontribusikan.
            </p>
        </div>
    </div>
</div>