`<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Sejarah JENI</h2>
                    <p class="lead">Embrio JAVA EDUCATION NETWORK INDONESIA berasal dari pelaksanaan JEDI – Java Education Development Initiative di Philipina yang bertujuan untuk menghasilkan sebuah material Computer Science yang berkualitas dan bersifat open source. JENI adalah sebuah pelayanan integratif bagi mahasiswa di Indonesia, untuk mempelajari, berbagi dan mengembangkan solusi berbasis JAVA. Proyek JENI mengimplementasikan JEDI sebagai dasar pelaksanaan kurikulum dengan tambahan berbagai trend perkembangan teknologi JAVA.</p>
                    <p class="lead">JENI dideklarasikan oleh Departemen Pendidikan Nasional, dan didukung oleh Indonesia Go Open Source (IGOS), JUG Indonesia, dan SUN Microsystems. JENI dalam perkembangannya telah berhasil menyusun beberapa modul tambahan dan fasilitas lain kepada para anggotanya. Fasilitas tersebut antara lain : Arsip Digital (modul), Forum dan Blog Anggota, Sistem Ujian Online, Issue Tracking.</p>
            </div>
        </div><!-- ./class=container -->
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-profile"></i>
                    <h2>JARC</h2>
                    <h3>JENI ASEAN Research Center merupakan salah satu pusat pembelajaran, riset, dan pengembangan aplikasi edukatif berbasis JENI, sebagai rangkaian dari Jejaring Pendidikan Nasional(Jardiknas) melalui salah satu center dari SEAMEO yaitu SEAMOLEC.</h3>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class=" icon-star"></i>
                    <h2>jTechnopreneur</h2>
                    <h3>jTechnopreneur adalah program terpadu kewirausahaan berbasis Java yang dikembangkan Meruvian. jTechnopreneur memasukan berbagai faktor non teknis kedalam program, menggunakan kurikulum JENI yang ditingkatkan.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!-- ./class=container -->
        <!-- <div class="pull-right">
            <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
         </div>  -->
    </div>
 </div>