<ng-include src="'views/main/slide.html'"></ng-include>
<br><br>
<section id="historyjeni" ng-include="'views/main/history.html'" class="historyjeni features-blue">
</section>
<br><br>
<section id="curriculum" ng-include="'views/main/curriculum.html'" class="curriculum features-blue">
</section>
<br><br>
<section id="communityjeni" ng-include="'views/main/community.html'" class="communityjeni features-blue">
</section>
<br><br>
<section id="certifications" ng-include="'views/main/certification.html'" class="certifications features-blue">
</section>
<br><br>
<section id="contributor" ng-include="'views/main/contributor.html'" class="contributor features-blue">
</section>
<br><br>
<section id="contact-us" ng-include="'views/main/contact-us.html'" class="user-group features-blue">
</section>